@model List<OgrenciYonetim.Models.Ogrenci>

@{
    ViewBag.Title = "Öğrenci Listesi";
}

<div style="padding: 20px;">
    <h2 style="color: #615dee; font-size: 32px; margin-bottom: 20px;">Öğrenci Yönetimi</h2>
    <div style="margin-bottom: 12px;">
        @Html.ActionLink("+ Yeni Öğrenci Ekle", "Create")
    </div>
    
    @if (ViewBag.Hata != null)
    {
        <p style="color: red; font-weight: 700;">@ViewBag.Hata</p>
    }

    @if (Model != null && Model.Count > 0)
    {
        <table class="book-table">
            <tr class="baslik">
                <td>ID</td>
                <td>Öğrenci No</td>
                <td>Ad</td>
                <td>Soyad</td>
                <td>Bölüm</td>
                <td>İşlemler</td>
            </tr>

            @foreach (var ogrenci in Model)
            {
                <tr>
                    <td>@ogrenci.ID</td>
                    <td>@ogrenci.Numara</td>
                    <td>@ogrenci.Ad</td>
                    <td>@ogrenci.Soyad</td>
                    <td>@ogrenci.Bolum</td>
                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = ogrenci.ID }) |
                        @Html.ActionLink("Sil", "Delete", new { id = ogrenci.ID })
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Henüz kayıtlı öğrenci bulunmamaktadır.</p>
    }
</div>
